*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
header{                                /*顶端大盒子*/
	width: 100%;
	height: 70px;
	/*border: 1px solid #000;*/
	background: #333333;
}
.zhong{
	margin:0 auto;
	width: 1300px;
	height: 70px;
	/*border: 1px solid red;*/
}
.boxlogo img{
	float: left;
}
.boxlogo{                               /*盒子1*/
	float: left;
	width: 260px;
	height: 70px;
	/*border: 1px solid #000;*/
	margin-left: 80px;
}
.name{
	float: left;
	width: 130px;
	height: 70px;
	/*border: 1px solid red;*/
}
.name p{  
	box-sizing: border-box;
	padding-top: 10px; 
    float: left;                                /* 网站名*/
	font: 500 25px 华文中宋 ;
	color: #fff;
	text-align:center; 
	font-style: italic;
}
.name span{   
	font: 500 15px 华文中宋 ;
	color: #fff; 
	font-style: italic;
}
.boxnav{                                /*盒子2*/
	float: left;
	width: 52%;
	height: 70px;
	/*border: 1px solid #000;*/
	margin-left: 150px;
} 
.boxnav li{                                      /*导航栏*/
	float: left;
	height: 70px;
	width: 90px;
	/*border: 1px solid red;*/
	font-size: 16px;
	line-height: 70px;
	letter-spacing: 1px; 
	text-align:center; 
	margin-left:40px;
}
.boxnav a{
	color: #fff;
}
.a{
	background: black;
}
.boxnav li:hover{
	background: #000;
}
.div2{                               /*背景图片区域*/
	width: 100%;
	height: 400px;
	/*border: 1px solid #000;*/
	background: url(../img/bbb.png);
	/* background-size: 100% 100%; */
}
.content{
	width: 100%;
	/* height: 1200px; */
	/* border: 1px solid #000; */
	margin:0 auto;
}
.yh{
	width: 1200px;
	margin: 0 auto;
}
.left{                              /*左边大盒子*/
	float: left;
	width: 850px;
	height: 1050px;
	/*border:1px solid red;*/
	/* margin-left: 280px; */
	margin-top: 10px;
}
.left h1{
	margin-top:20px;
	color: #666666;
	margin-left: 15px
}
.left li{
	float: left;
	width: 400px;
	height: 290px;
	border: 1px solid #ccc;
	margin-left: 15px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
}
.left img{
	width: 395px;
	height: 250px;
	margin-top: 3px;
}
.left span{
	margin-top: 250px;
}
.left a{
	color: #222;
}

.youbig{                        /*右边大盒子*/
	float: right;
	width: 340px;
	/*border:1px solid red;*/
	/* margin-right: 290px; */
	margin-top:50px;
}
.youshang{
	width: 340px;
	height: 330px;
	border: 1px solid #DDDDDD;
}
.youding{
	width: 340px;
	height: 40px;
	background: #FAFAFA;
}
.youding p{
	font-size: 20px;
	color: #666666;
	padding-left: 10px;
	line-height: 40px;
}
.neirong{
	width: 340px;
	height: 280px;
	/*border: 1px solid #000;*/
}
.neirong li{
	box-sizing: border-box;
	float: left;
	width: 100px;
	height: 35px;
	background: #EEEEEE;
	margin-left: 10px;
	margin-top:5px;
	line-height: 35px;
	padding-left: 5px
}
.neirong a:visited {
	color:#6C7C89;
}  
.youxia{
	float: left;
	width: 340px;
	height: 660px;
	border: 1px solid #DDDDDD;
	margin-top: 10px;
}
.xiading {
	width: 340px;
	height: 40px;
	background: #FAFAFA;
}
.xiading p{
	font-size: 20px;
	color: #666666;
	padding-left: 10px;
	line-height: 40px;
}
.tupian li{
	float: left;
	margin-left: 13px;
	margin-top:5px;
	text-align: center;
}
.tupian a:visited {
	color:#6C7C89;
}  
.xiaxia{
	float: left;
	width: 340px;
	height: 150px;
	border: 1px solid #DDDDDD;
	margin-top: 20px;
	margin-bottom: 10px;;
}
.baibaoxiang{
	width: 340px;
	height: 40px;
	background: #FAFAFA;	
}
.baibaoxiang p{
	font-size: 20px;
	color: #666666;
	padding-left: 10px;
	line-height: 40px;
}
.tianqi{

	width: 340px;
	height: 110px;
	/*border: 1px solid blue;*/
}
.tianqi li{
	float: left;
	width: 150px;
	height: 40px;
	background: #EEEEEE;
	margin-left: 10px;
	margin-top:10px;
	text-align: center;
	line-height: 40px;
}
.tianqi a:visited {
	color:#6C7C89;
}  
footer{                                   /*底部一个大盒子*/
	width: 100%;
	height: 180px;
	background: #222222;
	clear: both;
	margin: 0 auto;
}
.bottom{
	width: 1100px;
	height: 180px;
	/*border: 1px solid #000;*/
	margin:0 auto;
	
}
.hz{                                       /*三个小盒子*/
	width: 300px; 
	height: 180px;
/*	background:red;*/
	/* margin-left: 180px; */
	float:left;
}
.hz p{
	margin-top: 10px;
	font-size: 25px;
	border-bottom: 2px dotted #7F7979;
	color: #CCCCCC;
}
.hz ul{
	margin-top: 10px;
	font-size: 15px;
	color: #777777;
	line-height: 25px;
}
.ly{                                        /*三个小盒子*/
	width: 300px;
	height: 180px;
/*	background:green;*/
	margin-left: 100px;
	float:left;
}
.ly p{
	margin-top: 10px;
	font-size: 25px;
	border-bottom: 2px dotted #7F7979;
	color: #CCCCCC;
}
.ly ul{
	margin-top: 10px;
	font-size: 15px;
	color: #777777;
	line-height: 25px;
}
.lx{                                        /*三个小盒子*/
	width: 300px;
	height: 180px;
/*	background:green;*/
	margin-left: 100px;
	float:left;
}
.lx p{                                          
	margin-top: 10px;
	font-size: 25px;
	border-bottom: 2px dotted #7F7979;
	color: #CCCCCC;
}
.lx ul{
	margin-top: 10px;
	font-size: 15px;
	color: #777777;
	line-height: 25px;
}
.foot{
	width: 100%;
	height: 55px;
	background: black;
}
.a{
	width: 1340px;
	height: 55px;
	/*background: red;*/
	margin: 0 auto;
}
.a p{
	line-height: 55px;
	text-align: center;
	color: #767978;
}